.loader-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 30px;
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -20px;
}